body {
  height: 100vh;
  background-color: #36384d;
  display: grid;
  place-content: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
